<html><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" type="text/css" href="./css/main.css"><title>Baby Calculator</title><script src="https://code.jquery.com/jquery-3.5.0.js"></script><script src="script.js"></script><script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script><script src="libries/p5.gui.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js" integrity="sha512-w1Bktzax55ZbjW5Mqjz8+mKz4KqRjEUU35Dpq/ath29yskKqIGwNIHiFNp03m/OiJWDXvdQ1/g6aV+l4PeVO7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script></head><body><div class="container"><header><button id="addButton">ADD</button><button id="addButton">ADD</button></header><div class="element"><canvas id="canvas"></canvas></div><footer></footer></div></body></html>grid-gap: 5px;
*/
}
#heroContainer {
    background-color: blueviolet;
    display: flex;
    padding-top: 1vh;
}
.heroCard {
    background-color: white;
    max-width: 300px;
    padding: 1.5rem;
    margin: 0.5rem;
    max-height: 200px;
}
.heroHeader {
    padding: 0rem 2rem 1rem 0;
    display: flex;
    justify-content: space-between;
}
.heroBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.heroFooter {
    padding: 1rem 0 1rem;
    display: flex;
    flex-direction: column;
}
.heroFooter button {
    flex: auto;
}
.heroFooter spam {
    color: blue;
    font-weight: bold;
}
.heroBody form {
    display: flex;
    flex-direction: column;
}